@font-face {
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/RobotoSerif-Regular.ttf') format('truetype'),
       url('../../fonts/RobotoSerif-invalid.ttf') format('opentype')/* test invalid font */;
}

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/RobotoSerif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Amaranth Serif';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Amaranth-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/RobotoSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 800;
  font-style: normal;
  src: url('../../fonts/RobotoSerif-BoldItalic.ttf') format('truetype');
}


p {
  font-size: 24pt;
}