@media screen {
  @font-face {
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/RobotoSerif-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Serif';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/RobotoSerif-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Serif';
    font-weight: 700;
    font-style: italic;
    src: url('../../fonts/RobotoSerif-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/RobotoSerif-Italic.ttf') format('truetype');
  }
}
